/* Global */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
    font-family: Montserrat;
}

/* Navigation Bar Section */

.navigation{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}


.left {
    margin-left: 36px;
    font-size:36px;
    text-decoration: none;
}
.left a {
    text-decoration:none;
    color:black;
    font-weight: 600;
}

.right {    
    margin: 36px;
    font-size:24px;
    width:500px;
    text-align: end;
}

.right img { 
    display: none;
}

.right a{
    color:black;
    text-decoration: none;
    margin-right: 56px; 
}

.right button{
    font-size: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

/* Hero Section */

.herosection{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 10%;
    margin-right:10%;
    flex-wrap: wrap;
     
}

.lefthero {
    flex: 50%;
    text-align: start;

}

.lefthero h1 {
    font-size: 50px;
}

.righthero {
    text-align: end;
    flex: 50%; 
    margin-top: 20px;
}

/* Selected Work Section */

.selectedWork {
    margin-left:10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.selectedWork h2 {
    text-align: center;
    font-size: 36px;

}

.primaryCard1 {
    background-color: rgb(238, 241, 241);
    display: grid;
    grid-template-columns:60% 40%;
    grid-template-rows: 325px 10%;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    
}


.primaryCard2 {
    background-color: rgb(238, 241, 241);
    display: grid;
    grid-template-columns:60% 40%;
    grid-template-rows: 325px 10%;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
}
.projectDesc {
    position: relative;
    grid-area: "description";
}

.projectName1 {
    font-size: 32px;
    margin-top: 0px;
    text-align: center;
  
   
}

.projectQuestion {
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 20px;
    
}

.casestudyButton {
    font-size: 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    position:absolute;
    bottom: 0px;
    margin-left:35%;
    cursor: pointer;
}

.featureGraphic {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    grid-area: "graphic";
    box-shadow: 5px 10px 18px #888888;

}

.featureimageContainer {
    width: 400px;
    height: 200px;
    
}

.featureimageContainer > img {
    max-width: 100%;
    max-height: 100%;
   
    
}

.vacGraphic {
    background-color: #315685;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    grid-area: "graphic";
    box-shadow: 5px 10px 18px #888888;
    
}

.vacimageContainer1 {
    width: 78px;
    height: 168px;
  
}

.vacimageContainer1 > img {
    max-width: 100%;
    max-height: 100%;
}

.vacimageContainer2 {
    width: 337px;
    height: 194px;
}

.vacimageContainer2 > img {
    width: 100%;
    height: 100%;

}

.bottomDivider {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    grid-area: "bottomborder";
    
}

/* Additional Projects */

.additionalProjects {
    margin-left:10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 5px;
  
}
.additionalProjects h2 {
    text-align: center;
    font-size: 36px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 36px;
    
}

.additionalworkBottom  > hr {
    width: 100%;
    margin-top: 100px; 
    border-color: red;
    
}

.additionalworkBottom  > h2 {
    color: red;
}    
    

.cardBackground {
    background-color: #ECECEC;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newcardBackground {

    box-shadow: 5px 5px 8px #888888;
    background-color: #d7d6d6;
    width: 100%;
    height: 300px;
    cursor: pointer;
}


#edgovContainer1 {
    width: 105px;
    height: 214px;
    margin-right:10px;
}

#edgovContainer1 > img {
    max-width: 100%;
    max-height: 100%;
    
}

#edgovContainer2 {
    width: 380px;
    height: 210px;
}

#edgovContainer2 > img {
    max-width: 100%;
    max-height: 100%;
}

#fmContainer1 {
    width: 120px;
    height: 254px;
    margin-right:20px;
}

#fmContainer1 > img {
    max-width: 100%;
    max-height: 100%;
}

#fmContainer2 {
    width: 120px;
    height: 254px;
    margin-right:20px;
}

#fmContainer2 > img {
    max-width: 100%;
    max-height: 100%;
}

#fmContainer3 {
    width: 120px;
    height: 254px;
    margin-right:20px;
}

#fmContainer3 > img {
    max-width: 100%;
    max-height: 100%;
}

#jwContainer1 {
    width: 120px;
    height: 254px;
    margin-right:20px;
}

#jwContainer1 > img {
    max-width: 100%;
    max-height: 100%;
}

#jwContainer2 {
    width: 120px;
    height: 254px;
    margin-right:20px;
}

#jwContainer2 > img {
    max-width: 100%;
    max-height: 100%;
}

#jwContainer3 {
    width: 120px;
    height: 254px;
    margin-right:20px;
}

#jwContainer3 > img {
    max-width: 100%;
    max-height: 100%;
}

#exContainer {
    width: 260px;
    height: 260px;
    margin-right:10px;
}

#exContainer > img {
    max-width: 100%;
    max-height: 100%;
}

/* About Me Section*/

.aboutSection {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:10%;
    margin-right: 10%;
    align-items: flex-start;
    justify-content: space-between;
}


.profileimageContainer {
    width: 550px;
    height: 575px;
    padding-right: 30px;
    
}

.profileimageContainer img {
    width: 550px;
    height: 575px;
}


.resumeSection {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.resumeSection h2 {
    margin-top: 40px;
}

.resumeButton {
    font-size: 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* Skills Section */

.skillsHeading {
    text-align: center;
    margin-bottom: 40px;
}

.myskillsSection {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

.myskillsSection > div {
    width: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
}



.skillsList {
    list-style-type: none;
}


/* Footer Section */

.footersection {
    text-align: center;
    color: white;
    background-color: black;
    padding:20px;
    margin-top:100px;
}

.footersection a {
    color:white;
    padding: 10px;
}

.footersection hr{
  width:10%;  
}

/* For Mobile */

@media only screen and (max-width: 768px) {
    .right a, .right button {
        display: none;
    }
    .right img {
        display: block;
        float: right;
    }
     
}

@media only screen and (max-width: 600px) {
    .herosection {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .righthero {
        text-align: start;
        margin-top: 54px;
    }

}

@media only screen and (max-width: 768px) {
    .selectedWork, .additionalProjects {
        margin-left: 16px;
        margin-right: 16px;
    }

    
    
    .gridContainer {
        outline: 1px solid rgb(0, 255, 34);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 36px;
        margin-left: 16px;
        margin-right: 16px; 
    }
}

@media only screen and (max-width: 768px) {
    .primaryCard1 {
        background: red;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;  
        
    }
    .primaryCard2 {
        background: red;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;  
        
    }
}

@media only screen and (max-width: 768px) {
    .aboutSection {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 16px;
        margin-right: 16px;
        align-items: flex-start;
    }

    .profileimageContainer {
        width: 400px;
        height: 424px;
        margin: auto;
        
    }

    .profileimageContainer > img {
        width: 400px;
        height: 424px;
        
    }

    .myskillsSection  {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    .industryknowledgeContainer > h3 {
        color: black;
        font-weight: lighter;
    }
    
    .designContainer > h3 {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }
    .professionalContainer > h3 {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }

    .toolstechContainer {
        margin-top: 20px;
    }
    
    .toolstechContainer > h3 {
        color: black;
        font-weight: lighter;
    }

    .designtechContainer > h3 {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }

    .generaltechContainer > h3 {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }
    
}
